
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
@media(min-width:768px) {
  body {
    margin-top: 50px;
  }
  /*html, body, #wrapper, #page-wrapper {height: 100%; overflow: hidden;}*/
}



#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 0;
  background-color: #fff;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 225px;
  }

  #page-wrapper {
    padding: 22px 10px;
  }
}

/* Top Navigation */

.top-nav {
  padding: 0 15px;
}

.top-nav>li {
  display: inline-block;
  float: left;
}

.top-nav>li>a {
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 20px;
  color: #375288;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
  color: #375288;
}

.top-nav>.open>.dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  /*border: 1px solid rgba(0,0,0,.15);*/
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);

}

.top-nav>.open>.dropdown-menu>li>a {
  white-space: normal;
}

/* Side Navigation */

.nav-test{
  background-color: #f5f5f5;
  color: #375288 !important;
  border-bottom: 1px #009de0 solid;
}
.side-nav {
  color: #375288 !important;
}

.nav-test>li>a{
  color: #375288 !important;
}
@media(min-width:768px) {
  .side-nav {
    position: fixed;
    top: 60px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    border-top: 1px #009de0 solid;
    overflow-y: auto;
    /*background-color: #5A6B7D;*/
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }

  .side-nav>li>a {
    width: 225px;
    border-bottom: 1px #009de0 solid;
  }


}

.side-nav>li>ul {
  padding: 0;
  border-bottom: 1px rgba(0,0,0,.3) solid;
}

.side-nav>li>ul>li>a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  /*color: #999;*/
  color: #fff;
}

.side-nav>li>ul>li>a:hover {
  color: #fff;
}

.navbar .nav > li > a > .label {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  top: 14px;
  right: 6px;
  font-size: 10px;
  font-weight: normal;
  min-width: 15px;
  min-height: 15px;
  line-height: 1.0em;
  text-align: center;
  padding: 2px;
}

.navbar .nav > li > a:hover > .label {
  top: 10px;
}

.navbar-brand {
  padding: 5px 10px;
}

.navbar-brand >img {
  width: 200px;
  max-height: 50px;
}



.funkyradio {

  div {
    clear: both;
    overflow: hidden;
  }

  label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
  }

  input[type="radio"],
  input[type="checkbox"] {

    &:empty {
      display: none;

      ~ label {
        position: relative;
        line-height: 2.5em;
        text-indent: 3.25em;
        margin-top: 0.5em;
        cursor: pointer;
        user-select: none;

        &:before {
          position: absolute;
          display: block;
          top: 0;
          bottom: 0;
          left: 0;
          content: '';
          width: 2.5em;
          background: #D1D3D4;
          border-radius: 3px 0 0 3px;
        }
      }
    }

    &:hover:not(:checked) ~ label {
      color: #888;

      &:before {
        content: '\2714';
        text-indent: .9em;
        color: #C2C2C2;
      }
    }

    &:checked ~ label {
      color: #777;

      &:before {
        content: '\2714';
        text-indent: .9em;
        color: #333;
        background-color: #ccc;
      }
    }

    &:focus ~ label:before {
      box-shadow: 0 0 0 3px #999;
    }
  }

  &-default {
    input[type="radio"],
    input[type="checkbox"] {
      &:checked ~ label:before {
        color: #333;
        background-color: #ccc;
      }
    }
  }

  &-primary {
    input[type="radio"],
    input[type="checkbox"] {
      &:checked ~ label:before {
        color: #fff;
        background-color: #337ab7;
      }
    }
  }

  &-success {
    input[type="radio"],
    input[type="checkbox"] {
      &:checked ~ label:before {
        color: #fff;
        background-color: #5cb85c;
      }
    }
  }

  &-danger {
    input[type="radio"],
    input[type="checkbox"] {
      &:checked ~ label:before {
        color: #fff;
        background-color: #d9534f;
      }
    }
  }

  &-warning {
    input[type="radio"],
    input[type="checkbox"] {
      &:checked ~ label:before {
        color: #fff;
        background-color: #f0ad4e;
      }
    }
  }

  &-info {
    input[type="radio"],
    input[type="checkbox"] {
      &:checked ~ label:before {
        color: #fff;
        background-color: #5bc0de;
      }
    }
  }
}

